﻿@section HeaderSection
{
    <div id="header">
        <div id="dwaloga">
            <a href="http://ckp.wum.edu.pl"><img src="~/Content/Images/logowum.png" alt="" width="70px" /></a>
            <a href="http://wum.edu.pl"><img src="~/Content/Images/logockp.png" alt="" width="70px" /></a>
            <span>Centrum Kształcenia Podyplomowego Warszawskiego Uniwersytetu Medycznego</span>
        </div>
    </div>
}
@section FooterSection
{
}
@section Scripts
{
    <script src="~/Scripts/pageScripts/CKPApp.js"></script>
}
<div id="login_registerForm">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-pill-red"><a href="#register" data-toggle="tab" role="tab">Załóż nowe konto</a></li>
        <li class="active"><a href="#logIn" data-toggle="tab" role="tab">Zaloguj się</a></li>
        <li style="display:none"><a href="#retrivePass" data-toggle="tab" role="tab" id="retrivePassExecutor">Odzyskiwanie hasła</a></li>
    </ul>
    <div class="tab-content panel panel-default marginForBig5 same-addon">
        @*Zakładka logowanie*@
        <div class="tab-pane fade in active panel-body" id="logIn" ng-controller="loginCotroller">
            <div class="alert alert-info" role="alert">Loginem jest <b>PESEL</b> podany przy rejestracji</div>
            <form method="post" action="#" ng-submit="doLogIn($event)">
                <div class=" input-group">
                    <span class="input-group-addon">Login</span>
                    <input class="form-control" type="text" ng-model="login" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Hasło</span>
                    <input class="form-control" type="password" ng-model="password" />
                </div>
                <div class="alert alert-danger" style="display:none;" id="loginError" role="alert">Błędny login lub hasło</div>
                <button type="submit" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Zaloguj  <span class="glyphicon glyphicon-log-in"></span></button>
            </form>
            <div class="alginRightForBig fullWidthForSmall width300ForBig"><span>Nie pamiętasz hasła? </span><a href="#" ng-click="retrivePassword()">Odzyskiwanie hasła</a></div>
        </div>
        @*Odzyskiwanie hasła*@
        <div class="tab-pane fade panel-body" id="retrivePass" ng-controller="retriveControler">
            <form name="retriveForm" id="retriveForm" method="post" action="#" ng-submit="retrivePassword($event)">
                <div class=" input-group">
                    <span class="input-group-addon">Login</span>
                    <input class="form-control" type="text" ng-model="login" name="loginn" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!retriveForm.loginn.$valid && retriveForm.loginn.$dirty">
                    <div>Login jest wymagany</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Adres e-mail:</span>
                    <input class="form-control" type="email" ng-model="email" name="email" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!retriveForm.email.$valid && retriveForm.email.$dirty">
                    <div>Adres e-mail jest wymagany</div>
                </div>

                <button type="submit" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Wyślij <span class="glyphicon glyphicon-log-in"></span></button>
            </form>
            <!--TODO: WALIDACJA TYCH FORM-->
            <div id="confimation" class="bg-success alginRightForBig" style="display: none; margin-top: 10px; padding: 5px; border-radius:5px;">Wiadomość została wysłana na podany adres email.</div>
            <div class="alert alert-danger" style="display:none;" id="retriveError" role="alert">Wystąpił nieoczekiwany błąd.</div>
        </div>
        @*Zakładrka rejestracja*@
        <div class="tab-pane fade panel-body" id="register" ng-controller="registerController">
            <form name="registerForm" id="registerForm" novalidate ng-submit="doRegister($event)">
                @*Dane osobowe*@
                <div class="alert alert-info marginTop" role="alert">Dane osobowe</div>
                <div class="input-group">
                    <span class="input-group-addon">Imię</span>
                    <input class="form-control" type="text" ng-model="imie" name="imie" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.imie.$valid">
                    <div>Imię jest wymagane</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Nazwisko</span>
                    <input class="form-control" type="text" ng-model="nazwisko" name="nazwisko" required />

                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.nazwisko.$valid">
                    <div>Nazwisko jest wymagane</div>
                </div>
                @Html.KF().DropDown("Płeć", "plec", "plecArray")
                <div class="input-group date">
                    <span class="input-group-addon">Data urodzenia</span>
                    <input type="text" datepicker class="form-control" required name="dataUrodzenia" ng-model="dataUrodzenia" />
                    @*<span class="input-group-addon ignore-changes"><i class="glyphicon glyphicon-th"></i></span>*@
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.dataUrodzenia.$valid">
                    <div>Data urodzenia jest wymagana</div>
                </div>
                @*<div class="input-group">
                    <span class="input-group-addon"><input type="checkbox" ng-model="brakPesel" /></span>
                    <span class="form-control">Nie posiadam PESEL</span>
                </div>*@
                <div class="rollDown rollUp" ng-show="!brakPesel">
                    <div class="input-group">
                        <span class="input-group-addon">PESEL</span>
                        <input class="form-control" type="text" ng-model="pesel" name="pesel" peselvalidation />
                    </div>
                    <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.pesel.$valid">
                        <div ng-show="registerForm.pesel.$error.required">PESEL nie może być pusty</div>
                        <div ng-show="registerForm.pesel.$error.lenght">Zła długość PESEL</div>
                        <div ng-show="registerForm.pesel.$error.plec">Płeć i PESEL nie są zgodne</div>
                        <div ng-show="registerForm.pesel.$error.dataUrodzenia">Data urodzenia i PESEL nie są zgodne</div>
                        <div ng-show="registerForm.pesel.$error.kontrolna">PESEL jest błędny</div>
                    </div>
                </div>
                <!-- sdfff-->
                @Html.KF().DropDown("Obywatelstwo", "obywatelstwo", "obywatelstwoArray") 
                @*<div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.obywatelstwo.$valid">
                    <div>Wybór obywatelstwa jest wymagany</div>
                </div>*@
                @*Dokument tożsamości*@
                @*<div class="alert alert-info marginTop">Dokument tożsamości</div>
                    @Html.KF().DropDown("Rodzaj", "dokumentRodzaj", "rodzajDokumentuArray")
                    <div class="input-group">
                        <span class="input-group-addon">Numer</span>
                        <input class="form-control" type="text" ng-model="dokumentNumer" name="dokumentNumer" required />
                    </div>
                    <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.dokumentNumer.$valid">
                        <div>Numer dokumentu jest wymagany</div>
                    </div>*@
                @*Zabezpieczenia*@
                <div class="alert alert-info marginTop">Zabezpieczenia</div>
                <div class="input-group">
                    <span class="input-group-addon">E-mail</span>
                    <input class="form-control" type="email" ng-model="email" name="email" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.email.$valid">
                    <div ng-show="registerForm.email.$error.required">Email jest wymagany</div>
                    <div ng-show="registerForm.email.$error.email">Email ma błędny format</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Hasło</span>
                    <input class="form-control" type="password" ng-model="password" name="password" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.password.$valid">
                    <div>Hasło jest wymagane</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Potwierdź hasło</span>
                    <input class="form-control" type="password" ng-model="passwordRepeat" name="passwordRepeat" passwordvalidation />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.passwordRepeat.$valid">
                    <div>Hasła nie są takie same</div>
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.$valid">
                    <div>Formularz nie został poprawnie wypełniony</div>
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="serverValidation">
                    <div ng-bind-html="serverValidation"></div>
                </div>
                <button type="submit" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Dalej  <span class="glyphicon glyphicon-log-in"></span></button>
            </form>
        </div>
    </div>
</div>