﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CKP - Rejestracja</title>
    <script src="~/Scripts/respond.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datePicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-app="CKPApp">
    @RenderSection("HeaderSection", true)
    <div class="zoom currentZoom">A</div>
    <div class="zoom">A</div>
    <div class="zoom">A</div>
    <div class="zoom">A</div>
    <div id="pageWrapper">
        <div id="headder">
            
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            @RenderSection("FooterSection", true)
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.transit.min.js"></script>
    <script src="~/Scripts/pageScripts/compatibilityImpl.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    @*<script src="~/Scripts/angular-animate.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datePickerScript.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //var magnify = (function () {
        //    maxZoom = 3;
        //    minZoom = -1;
        //    currentZoom = 0;
        //    zoomStep = 0.1;
        //    magnify = {};
        //    magnify.ctrlPlus = function () {
        //        if (currentZoom === maxZoom) {
        //            return;
        //        }
        //        currentZoom++;
        //        $('body').transition({ scale: ($('body').css('scale') + zoomStep) });
        //    }
        //    magnify.ctrlMinus = function () {
        //        if (currentZoom === minZoom) {
        //            return;
        //        }
        //        currentZoom--;    
        //        $('body').transition({ scale: ($('body').css('scale') - zoomStep) });
        //    }
        //    return magnify;
        //})();
        //$('a.ctrlplus').click(magnify.ctrlPlus);
        //$('a.ctrlminus').click(magnify.ctrlMinus);
        $(function () {
            $("div.zoom").each(function (i, s) {
                var fontSize = 20 + (i * 3) + "px";
                $(s).css("font-size", fontSize);
                $(s).css("padding-top", 7 - (i * 3) - i + "px");
                $(s).css("padding-left", "3px");
                $(s).css("left", 32 * (i ) + "px");
                $(s).click(function () {
                    $('#pageWrapper').transition({
                        scale: (i * 0.2 + 1)
                    });
                    $(".currentZoom").removeClass("currentZoom");
                    $(s).addClass("currentZoom");
                })
            })
        });;
    </script>
</body>
</html>
