﻿@model DropDownModel

<div class="input-group">
    <span class="input-group-addon">@Model.Caption</span>
    <div class="input-group-btn input-group-fullSize">
        <button @(string.IsNullOrEmpty(Model.DisableQuerry) ? string.Empty : "ng-disabled=" + Model.DisableQuerry + " ") type="button" class="btn btn-default dropdown-toggle input-group-fullSize" data-toggle="dropdown" aria-expanded="false" ng-init="@Model.AngularModelName = '@Model.InitailValue'" @*(string.IsNullOrWhiteSpace(Model.OnChangeValue) ? string.Empty : "ng-change="+Model.OnChangeValue)*@>{{@(Model.DataSourceName)[@(Model.AngularModelName)]}} <span class='caret'></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="overflow:auto; max-height:180px;">
            <li ng-repeat="(k, v) in @Model.DataSourceName">
                <a href="" ng-click="$parent.@Model.AngularModelName = k">{{v}}</a>
            </li>
        </ul>
        <input type="hidden" name="@Model.AngularModelName" ng-model="@Model.AngularModelName" ng-value="@Model.AngularModelName" @(Model.Required ? "required" : "") />
    </div>
</div>
@if (Model.Required)
{
    <div class="alert alert-danger rollDown rollUp" ng-show="!registerForm.@(Model.AngularModelName).$valid">
        <div>@Model.Caption wybór jest obowiązkowy</div>
    </div>
}