﻿@{
    List<Aplikacja> aplikacje = (List<Aplikacja>)ViewBag.Aplikacje;
}
<div ng-controller="AplikacjeController">
    <div class="alert alert-warning" id="brakAplikacjiContener" ng-show="$parent.aplikacje.length == 0">
        <div>
            Brak aplikacji
        </div>
    </div>
    <div class="aplikacja panel panel-primary" ng-repeat="app in $parent.aplikacje">
        <div class="panel-heading aplikacjaNazwaKursu">
            {{app.KursNazwa}}
        </div>
        <table class="table">
            <tr>
                <th>Rozpoczęcie</th>
                <th>Zakonczenie</th>
                @*<th>Specjalizacja</th>*@
                <th>Typ kursu</th>
                <th></th>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td class="aplikacjaPoczatek">{{app.DataRozpoczecia}}</td>
                <td class="aplikacjaKoniec">{{app.DataZakonczenia}}</td>
                @*<td class="aplikacjaSpecjalizacja"></td>*@
                <td class="aplikacjaTyp">{{app.RodzajAplikacjiNazwa}}</td>
            </tr>
        </table>
        @*alginRightForBig fullWidthForSmall width300ForBig*@
        <div class="container-fluid">
            <div class="alert marginTop" ng-class="aplikacjaStatusClass(app.IDKursu)" style="margin-top:30px; padding: 15px;">
                <div>
                    Aplikacja wypełniona {{app.aplikacjaStatusReadable}}
                </div>
            </div>
            <button type="button" class="btn btn-success aplikacjaPokazAplikacje" ng-class="app.OtwartaEdycja ?
                     'col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4' :
                     'col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-7 col-md-offset-7 col-sm-offset-7 col-xs-offset-7'" 
                    ng-click="pokazAplikacje(this)">Pokaż/Edytuj aplikację</button>

            <button type="button" class="btn btn-danger aplikacjaPokazAplikacje col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" 
                    ng-click="usunAplikacje(this)" ng-show="app.OtwartaEdycja">Usuń aplikację</button>
        </div>
        <div class="aplikacjaStatus"></div>
        <div class="clearFloat"></div>
    </div>
</div>