﻿@using System.Globalization;
@{
    Kandydat kandydat = ViewBag.Kandydat;
}

<div class="alert marginTop" ng-class="aplikacjaStatusClass()" style="margin-top:30px; padding: 15px;">
    <div>
        Aplikacja została wypełniona {{aplikacjaStatusReadable}}
    </div>
</div>

<div>
    <form id="aplikacjaEditForm">
        <div class="alert alert-danger marginTop" ng-show="!aplikacja.OtwartaEdycja" role="alert">Termin wprowadzania zmian w aplikacji upłynął</div>
        <div class="alert alert-success marginTop" role="alert">Aplikacja</div>
        <div class="input-group">
            <span class="input-group-addon">Kurs</span>
            <div class="form-control">{{aplikacja.KursNazwa}}</div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Termin od</span>
            <div class="form-control">{{aplikacja.DataRozpoczecia}}</div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Termin do</span>
            <div class="form-control">{{aplikacja.DataZakonczenia}}</div>
        </div>
        <div class="alert alert-info marginTop" role="alert">Dane osobowe</div>
        <div class="input-group">
            <span class="input-group-addon">PESEL</span>
            <div class="form-control">@kandydat.DaneOsobowe.PESEL</div>
        </div>
        @*<div class="input-group">
                <span class="input-group-addon">Rodzaj dokumentu</span>
                <div class="form-control">@kandydat.DaneOsobowe.RodzajDokumentu.Nazwa</div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Numer dokumentu</span>
                <div class="form-control">@kandydat.DaneOsobowe.DokumentNumer</div>
            </div>*@
        <div class="input-group">
            <span class="input-group-addon">Data urodzenia</span>
            <div class="form-control">@kandydat.DaneOsobowe.DataUrodzenia.ToString("dd-MM-yyyy", DateTimeFormatInfo.CurrentInfo)</div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Imię</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Imie" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Drugie imię</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Imie2" name="imie2" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Nazwisko</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Nazwisko" name="nazwisko" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Obywatelstwo</span>
            <input class="form-control" type="text" ng-model="osoba.Obywatelstwo" name="obywatelstwo" disabled />
        </div>
        @*Adres*@
        <div class="alert alert-info marginTop" role="alert">Adres</div>
        <div class="input-group">
            <span class="input-group-addon">Miejscowość</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Miejscowosc" name="miejscowosc" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Ulica</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Ulica" name="ulica" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Kod pocztowy</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.KodPocztowy" name="kodPocztowy" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Poczta</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Poczta" name="poczta" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        @*Kontakt*@
        <div class="alert alert-info marginTop" role="alert">Kontakt</div>
        <div class="input-group">
            <span class="input-group-addon">Telefon</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Telefon" name="telefon" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">E-mail</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.Email" name="email" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        @*Specjalizacja*@
        <div class="alert alert-info marginTop" role="alert">Specjalizacja</div>
        @Html.KF().DropDown("Specjalizacja", "aplikacja.DaneOsobowe.Specjalizacja", "specjalizacjaArray", false, "", kandydat.DaneOsobowe.Specjalizacja == null ? string.Empty : kandydat.DaneOsobowe.Specjalizacja.Kod, disableQuerry: "!aplikacja.OtwartaEdycja")
        <div class="input-group date">
            <span class="input-group-addon">Data rozpoczecia</span>
            <input class="form-control" datepicker type="text" ng-model="aplikacja.DaneOsobowe.DataRozpoczecia" name="dataRozpoczecia" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group date">
            <span class="input-group-addon">Przewidywana data zakonczenia</span>
            <input class="form-control" datepicker type="text" ng-model="aplikacja.DaneOsobowe.DataZakonczenia" name="dataZakonczenia" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">Numer prawa do wykonywania zawodu</span>
            <input class="form-control" type="text" ng-model="aplikacja.DaneOsobowe.NumerPrawa" name="numerPrawa" ng-disabled="!aplikacja.OtwartaEdycja" />
        </div>
        <div id="faktury" ng-show="PokazFakture()">
            <div class="alert alert-info marginTop container-fluid" role="alert">
                <div class="col-lg-5 col-ms-5 col-sm-5 col-xs-5">Dane do faktury</div>
                <div class="btn btn-primary col-lg-offset-3 col-lg-4 col-md-offset-3 col-md-4 col-sm-offset-3 col-sm-4 col-xs-offset-3 col-xs-4" ng-click="wczytajFakture()" ng-show="aplikacja.OtwartaEdycja">Wczytaj</div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Kod pocztowy</span>
                <input class="form-control" type="text" ng-model="aplikacja.Faktura.Kod" ng-disabled="!aplikacja.OtwartaEdycja" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Miejscowość</span>
                <input class="form-control" type="text" ng-model="aplikacja.Faktura.Miejscowosc" ng-disabled="!aplikacja.OtwartaEdycja" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Ulica</span>
                <input class="form-control" type="text" ng-model="aplikacja.Faktura.Ulica" ng-disabled="!aplikacja.OtwartaEdycja" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">NIP</span>
                <input class="form-control" type="text" ng-model="aplikacja.Faktura.Nip" ng-disabled="!aplikacja.OtwartaEdycja" />
            </div>
        </div>
        <div class="marginTop alginRightForBig fullWidthForSmall width300ForBig btn btn-primary" ng-click="zapiszAplikacje()" ng-show="aplikacja.OtwartaEdycja">Zapisz zmiany</div>
        <div class="clearFloat"></div>
        <div class="alert alert-danger marginTop" ng-show="!aplikacja.OtwartaEdycja" role="alert">Termin wprowadzania zmian w aplikacji upłynął</div>
    </form>
    <div id="fakturyDialog" style="display:none;">
        <div class="customDialog panel panel-primary infoDialog">
            <div class='panel-heading'>
                <h3 class='panel-title'>Dane do faktury</h3>
            </div>
            <div class='panel-body'>
                @Html.Partial("FakturaWyborDialog")
            </div>
        </div>
        <div class='modalElement'></div>
    </div>
</div>
