﻿@using System.Globalization;
@{
    Kandydat kandydat = ViewBag.Kandydat;
}
<div ng-controller="daneOsoboweController">
    @*Dane osobowe*@
    <div class="alert alert-info marginTop" role="alert">Dane osobowe</div>
    <div class="input-group">
        <span class="input-group-addon">PESEL</span>
        <div class="form-control">@kandydat.DaneOsobowe.PESEL</div>
    </div>
    @*<div class="input-group">
        <span class="input-group-addon">Rodzaj dokumentu</span>
        <div class="form-control">@kandydat.DaneOsobowe.RodzajDokumentu.Nazwa</div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Numer dokumentu</span>
        <div class="form-control">@kandydat.DaneOsobowe.DokumentNumer</div>
    </div>*@
    <div class="input-group">
        <span class="input-group-addon">Data urodzenia</span>
        <div class="form-control">@kandydat.DaneOsobowe.DataUrodzenia.ToString("dd-MM-yyyy", DateTimeFormatInfo.CurrentInfo)</div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Imię</span>
        <input class="form-control" type="text" ng-model="osoba.Imie" name="imie" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Drugie imię</span>
        <input class="form-control" type="text" ng-model="osoba.Imie2" name="imie2" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Nazwisko</span>
        <input class="form-control" type="text" ng-model="osoba.Nazwisko" name="nazwisko" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Obywatelstwo</span>
        <input class="form-control" type="text" ng-model="osoba.Obywatelstwo" name="obywatelstwo" disabled />
    </div>
    @*Adres*@
    <div class="alert alert-info marginTop" role="alert">Adres</div>
    <div class="input-group">
        <span class="input-group-addon">Miejscowość</span>
        <input class="form-control" type="text" ng-model="osoba.Miejscowosc" name="miejscowosc" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Ulica</span>
        <input class="form-control" type="text" ng-model="osoba.Ulica" name="ulica" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Kod pocztowy</span>
        <input class="form-control" type="text" ng-model="osoba.KodPocztowy" name="kodPocztowy" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Poczta</span>
        <input class="form-control" type="text" ng-model="osoba.Poczta" name="poczta" />
    </div>
    @*Kontakt*@
    <div class="alert alert-info marginTop" role="alert">Kontakt</div>
    <div class="input-group">
        <span class="input-group-addon">Telefon</span>
        <input class="form-control" type="text" ng-model="osoba.Telefon" name="telefon" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">E-mail</span>
        <input class="form-control" type="text" ng-model="osoba.Email" name="email" />
    </div>
    @*Specjalizacja*@
    <div class="alert alert-info marginTop" role="alert">Specjalizacja</div>
    @Html.KF().DropDown("Specjalizacja", "osoba.Specjalizacja", "specjalizacjaArray", false,"", kandydat.DaneOsobowe.Specjalizacja == null ? string.Empty : kandydat.DaneOsobowe.Specjalizacja.Kod)
    <div class="input-group date" >
        <span class="input-group-addon">Data rozpoczecia</span>
        <input class="form-control" datepicker type="text" ng-model="osoba.DataRozpoczecia" name="dataRozpoczecia" />
    </div>
    <div class="input-group date">
        <span class="input-group-addon">Przewidywana data zakonczenia</span>
        <input class="form-control" datepicker type="text" ng-model="osoba.DataZakonczenia" name="dataZakonczenia" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Numer prawa do wykonywania zawodu</span>
        <input class="form-control" type="text" ng-model="osoba.NumerPrawa" name="numerPrawa" />
    </div>
    @*Dane do faktury*@
    <div class="alert alert-info marginTop" role="alert">Dane do faktury</div>
    <div ng-controller="daneDoFakturyController">
        <div class="input-group">
            <span class="input-group-addon">Nazwa</span>
            <div class="input-group-btn input-group-fullSize">
                <button type="button" class="btn btn-default dropdown-toggle input-group-fullSize" data-toggle="dropdown" aria-expanded="false">{{osoba.Faktury[fakturaNazwa].Nazwa}} <span class='caret'></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" style="overflow:auto; max-height:180px;">
                    <li ng-repeat="f in osoba.Faktury">
                        <a href="" ng-click="$parent.fakturaNazwa = f.Id">{{f.Nazwa}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alginLeftForBig fullWidthForSmall width300ForBig btn btn-success" ng-click="nowaFaktura()">Dodaj nowe dane do faktury</div>
        <div class="alginRightForBig fullWidthForSmall width265ForBig btn btn-danger" ng-click="usunFakture()">Usuń dane do faktury</div>
        <div ng-show="fakturaNazwa !== ''">
            <div class="input-group">
                <span class="input-group-addon">Nazwa</span>
                <input class="form-control" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Nazwa" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Kod pocztowy</span>
                <input class="form-control" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Kod" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Miejscowość</span>
                <input class="form-control" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Miejscowosc" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Ulica</span>
                <input class="form-control" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Ulica" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">NIP</span>
                <input class="form-control" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Nip" ng-readonly="fakturaNazwa == ''" />
            </div>
        </div>
    </div>
    <div class="marginTop alginRightForBig fullWidthForSmall width300ForBig btn btn-primary" ng-click="saveDaneOsobowe()">Zapisz zmiany</div>
</div>