﻿@{
    Kandydat kandydat = ViewBag.Kandydat;
}
<div>
    <div class="alert alert-info marginTop" role="alert">Dane do faktury</div>
    <div>
        <div class="input-group">
            <span class="input-group-addon">Nazwa</span>
            <div class="input-group-btn input-group-fullSize">
                <button type="button" class="btn btn-default dropdown-toggle input-group-fullSize" data-toggle="dropdown" aria-expanded="false">{{osoba.Faktury[fakturaNazwa].Nazwa}} <span class='caret'></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" style="overflow:auto; max-height:180px;">
                    <li ng-repeat="f in osoba.Faktury">
                        <a href="" ng-click="$parent.fakturaNazwa = f.Id">{{f.Nazwa}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="input-group">
                <span class="input-group-addon">Kod pocztowy</span>
                <input class="form-control" ng-disabled="true" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Kod" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Miejscowość</span>
                <input class="form-control" ng-disabled="true" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Miejscowosc" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Ulica</span>
                <input class="form-control" ng-disabled="true" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Ulica" ng-readonly="fakturaNazwa == ''" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">NIP</span>
                <input class="form-control" ng-disabled="true" type="text" ng-model="$parent.osoba.Faktury[fakturaNazwa].Nip" ng-readonly="fakturaNazwa == ''" />
            </div>
        </div>
    </div>
    <div class="btn btn-primary col-lg-offset-5 col-lg-4" ng-click="wybierzFakture()">Wybierz</div>
    <div class="btn btn-danger col-lg-3" ng-click="anulujWyborFaktury()">Anuluj</div>
</div>