﻿@section HeaderSection
{
    <div id="header">
        <div id="dwaloga">
            <a href="http://ckp.wum.edu.pl"><img src="~/Content/Images/logowum.png" alt="" width="70px" /></a>
            <a href="http://wum.edu.pl"><img src="~/Content/Images/logockp.png" alt="" width="70px" /></a>
            <span>Centrum Kształcenia Podyplomowego Warszawskiego Uniwersytetu Medycznego</span>
        </div>
    </div>
}

@section FooterSection
{

}

@section Scripts
{
    <script src="~/Scripts/pageScripts/directives.js"></script>
    <script src="~/Scripts/pageScripts/models.js"></script>
    <script src="~/Scripts/pageScripts/AplikacjaController.js"></script>
    <script src="~/Scripts/pageScripts/AplikacjaEditController.js"></script>
    <script src="~/Scripts/pageScripts/daneDoFakturyController.js"></script>
    <script src="~/Scripts/pageScripts/daneOsoboweController.js"></script>
    <script src="~/Scripts/pageScripts/dataController.js"></script>
}

<div id="login_registerForm">
    <ul class="nav nav-pills nav-justified">
        <li class="active nav-pill-red"><a href="#daneOsobowe" data-toggle="tab" role="tab">Dane osobowe</a></li>
        <li><a href="#kursy" data-toggle="tab" role="tab">Zapisz się na kurs</a></li>
        <li><a href="#aplikacje" data-toggle="tab" role="tab">Moje kursy</a></li>
        <li style="display:none;"><a href="#aplikacaEditTab" data-toggle="tab" role="tab" id="aplikacjaEditExecutor"></a></li>
    </ul>
    <div class="panel panel-default marginForBig5 same-addon" style="margin-top:30px; padding: 15px;">
        <div>
            Zalogowano jako: <span>@Logic.Request.UserName</span>
            <span style="position:relative; left:280px;"><a href="Account/LogOut" class="btn-logout">Wyloguj się</a></span>
        </div>
    </div>
</div>
<div class="tab-content panel panel-default marginForBig5 same-addon" ng-controller="dataController">
    @*Dane osobowe*@
    <div class="tab-pane fade in active panel-body" id="daneOsobowe">
        @Html.Partial("DaneOsobowe")
    </div>
    @*Kursy*@
    <div class="tab-pane fade panel-body" id="kursy">
        @Html.Partial("Kursy")
    </div>
    @*Aplikacje*@
    <div class="tab-pane fade panel-body" id="aplikacje">
        @Html.Partial("Aplikacje")
    </div>
    @*Aplikacja edit*@
    <div class="tab-pane fade panel-body" id="aplikacaEditTab" ng-controller="AplikacjaEditController">
        @Html.Partial("AplikacjaEdit")
    </div>
</div>

