﻿@using System.Globalization;
<div ng-controller="AplikacjeController">
@{
    List<Kurs> kursy = (List<Kurs>)ViewBag.Kursy;
    List<Aplikacja> aplikacje = (List<Aplikacja>)ViewBag.Aplikacje;

    <div class="alert alert-info marginTop" role="alert">Wyszukiwanie</div>
    
    <div class="input-group date">
        <span class="input-group-addon">Nazwa kursu</span>
        <input class="form-control" type="text" ng-model="nazwa" />
    </div>
    @Html.KF().DropDown("Typ kursu", "typkursow", "typykursowArray", false)
    @Html.KF().DropDown("Dziedzina kursu", "dziedzinakursow", "dziedzinaArray", false, "DziedzinaOnChange()")
    @Html.KF().DropDown("Specjalizacja", "specjalizacja", "specjalizacjaArray", false)
    <div class="alert alert-info marginTop" role="alert">Kursy</div>
    bool saKursy = false;
    foreach (var kurs in kursy)
    {
        if (kurs.Terminy.Count(x => x.RejestracjaOtwarta) == 0)
        {
            continue;
        }
        saKursy = true;
        <div class="kurs panel panel-primary rollDownSlow rollUpSlow" ng-show="isVisible('@kurs.Oid')" >
            <div class="panel-heading">
                @kurs.Nazwa
            </div>
            <table class="table">
                <tr>
                    <th>Rozpoczęcie</th>
                    <th>Zakonczenie</th>
                    <th>Specjalizacja</th>
                    <th>Typ kursu</th>
                    <th></th>
                </tr>
            </table>
            @foreach (TerminKursu tk in ((IEnumerable<TerminKursu>)kurs.Terminy).OrderBy(x => x.Numer))
            {
                @:<table class="table">
                    @:<tr>
                        @:<td>@(tk.Początek.HasValue ? tk.Początek.Value.ToString("dd-MM-yyyy", DateTimeFormatInfo.CurrentInfo) : string.Empty)</td>
                        @:<td>@(tk.Koniec.HasValue ? tk.Koniec.Value.ToString("dd-MM-yyyy", DateTimeFormatInfo.CurrentInfo) : string.Empty)</td>
                        @:<td>@kurs.Specjalizacja.Nazwa</td>
                        @:<td>@kurs.TypKursu</td>
                    @:</tr>
                @:</table>
                @:<button type="button" id="zlozAplikacjeButton'@tk.Oid'" ng-show="maSpecjalizacje('@tk.Oid')" ng-click="pokazAplikacje('@tk.Oid')" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-success">Pokaż aplikację</button>
                @:<button type="button" id="kliknijaplikacjebutton'@tk.Oid'" ng-show="!maSpecjalizacje('@tk.Oid')" ng-click="dodajAplikacje('@tk.Oid')" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Złóż aplikację</button>
                @:<div class="clearFloat"></div>
            }
        </div>
    }
    if (!saKursy)
    {
        <div class="alert alert-warning" role="alert">Obecnie nie prowadzona jest żadna rekrtuacja</div>
    }
}
</div>