﻿@model CKP.FirstBlood.MVC.Models.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection
{
    <div id="header">
        <div id="dwaloga">
            <a href="http://ckp.wum.edu.pl"><img src="~/Content/Images/logowum.png" alt="" width="70px" /></a>
            <a href="http://wum.edu.pl"><img src="~/Content/Images/logockp.png" alt="" width="70px" /></a>
            <span>Centrum Kształcenia Podyplomowego Warszawskiego Uniwersytetu Medycznego</span>
        </div>
    </div>
}
@section FooterSection
{
}
@section Scripts
{
    <script src="~/Scripts/pageScripts/CKPApp.js"></script>
}

@if (Model.CzyWyswietlic)
{
    <div class="panel panel-default same-addon" ng-controller="changePasswordControler">
        <div class="alert alert-info" role="alert">
            <div>Formularz zmiany hasła. </div>
            Loginem jest <b>PESEL</b> podany przy rejestracji
        </div>
        <div class="panel-body tab-pane">
            <form name="changePasswordForm" method="post" action="ChangePassword">
                <div class=" input-group">
                    <span class="input-group-addon">Login</span>
                    <input class="form-control" type="text" name="login" ng-model="login" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!changePasswordForm.login.$valid && changePasswordForm.login.$dirty">
                    <div>Login jest wymagany</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Nowe hasło</span>
                    <input class="form-control" type="password" name="password" ng-model="password" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!changePasswordForm.password.$valid && changePasswordForm.password.$dirty">
                    <div>Hasło jest wymagane</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Powtórz nowe hasło</span>
                    <input class="form-control" type="password" name="passwordRepeat" ng-model="passwordRepeat" required />
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="!changePasswordForm.passwordRepeat.$valid && changePasswordForm.passwordRepeat.$dirty">
                    <div>Powtórzenie hasła jest wymagane</div>
                </div>
                <div class="alert alert-danger rollDown rollUp" ng-show="(changePasswordForm.passwordRepeat.$dirty && changePasswordForm.password.$dirty) && (changePasswordForm.password.$viewValue != changePasswordForm.passwordRepeat.$viewValue)">
                    <div>Podane hasła nie są takie same</div>
                </div>

                <input style="visibility:hidden" name="queryID" type="text" value="@Model.OidObiektuDanych" />
                <button type="submit" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Zmień<span class="glyphicon glyphicon-log-in"></span></button>
            </form>
        </div>
    </div>

}
else if (Model.CzyPotwierdzicZmianeHasla)
{
    <div class="panel panel-default same-addon">
        <div class="panel-body tab-pane">
            <form action="/">
                <div class="bg-success" style="padding: 10px; border-radius:10px" role="alert">Hasło zostało zmienione z powodzeniem</div>
                <button type="submit" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Przejdź na stronę głowną<span class="glyphicon glyphicon-log-in"></span></button>
            </form>
        </div>
    </div>
}
else
{
    <div class="panel panel-default same-addon">
        <div class="panel-body tab-pane">
            <form action="/">
                @if (string.IsNullOrWhiteSpace(Model.EwentualnyBlad))
                {
                    <div class="alert-danger alert-info" style="padding: 10px; border-radius:10px" role="alert">@Model.EwentualnyBlad</div>
                }
                else
                {
                    <div class="alert-danger alert-info" style="padding: 10px; border-radius:10px" role="alert">Sesja wygasła lub nastąpił nieoczekiwany błąd, nie jest możliwa zmiana hasła za pomocą tego linka. Proszę wypełnić formularz zmiany hasła ponownie (odnośnik do niego znajduje się on na stronie głownej logowania)</div>
                }
                <button type="submit" style="" class="alginRightForBig fullWidthForSmall width300ForBig btn btn-primary">Przejdź na stronę głowną<span class="glyphicon glyphicon-log-in"></span></button>
            </form>
        </div>
    </div>
}



