﻿body {
    padding: 0;
    margin: 0;
    border: 0;
    /*background-color:#3499b8;*/
    background-color: #527765;
    background-image: url("../Content/Images/pobrane.svg");
}

#header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

    #header img {
        display: inline-block;
        margin: 0 auto;
        padding-left: 10px;
    }

    #header span {
        display: inline-block;
        margin: 0 auto;
        padding-left: 5px;
        font-size: 1.2em;
        color: white;
    }

    #header a {
        padding: 1px;
        margin: 1px;
    }

#pageWrapper {
    margin: auto;
    width: 600px;
    -o-transform-origin: 50% 0;
    -transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}

.zoom {
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    position: fixed;
    top: 0px;
}

    .zoom.currentZoom {
        background-color: yellow;
    }

@media screen and (max-width:1000px) {
    #pageWrapper, .fullWidthForSmall {
        -o-transform-origin: 0 0;
        -transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
    }
}

/*mobile only*/
@media screen and (max-width:600px) {
    #pageWrapper, .fullWidthForSmall {
        width: 100%;
        -o-transform-origin: 0 0;
        -transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
    }
}
/*full only*/
@media screen and (min-width:600px) {
    .marginForBig5 {
        margin-top: 5px;
    }

    .alginRightForBig {
        float: right;
    }

    .alginLeftForBig {
        float: left;
    }

    .width300ForBig {
        width: 300px;
    }

    .width265ForBig {
        width: 265px;
    }
}

#login_registerForm {
    margin: 30px auto;
}

.nav-pills > li.nav-pill-red.active > a, li.nav-pill-red.active > a:hover {
    background-color: red;
}

.nav-pills > li > a {
    background-color: lightgray;
}

.ng-hide {
    display: none;
}

.input-group {
    margin-bottom: 3px;
}

.rollUp,
.rollDown {
    -webkit-transition: max-height linear .25s;
    -moz-transition: max-height linear .25s;
    -o-transition: max-height linear .25s;
    transition: max-height linear .25s;
}

.rollUpSlow,
.rollDownSlow {
    -webkit-transition: max-height linear .5s;
    -moz-transition: max-height linear .5s;
    -o-transition: max-height linear .5s;
    transition: max-height linear .5s;
}

    .rollDown.ng-hide-remove,
    .rollUp.ng-hide-add.ng-hide-add-active,
    .rollDownSlow.ng-hide-remove,
    .rollUpSlow.ng-hide-add.ng-hide-add-active {
        max-height: 0;
        display: block !important;
        overflow: hidden;
    }

        .rollUp.ng-hide-add,
        .rollDown.ng-hide-remove.ng-hide-remove-active,
        .rollUpSlow.ng-hide-add,
        .rollDownSlow.ng-hide-remove.ng-hide-remove-active {
            max-height: 250px;
            display: block !important;
        }

.input-group-fullSize, .same-addon .input-group {
    width: 100%;
}

.input-group-fullSize {
    float: left;
}

.alert.marginTop, div.marginTop {
    margin-bottom: 3px !important;
    margin-top: 15px;
}

.same-addon .input-group-addon:not(.ignore-changes) {
    width: 125px;
}

.clearFloat {
    clear: both;
}

/*.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn.ng-hide-remove.ng-hide-remove-active { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}*/

.centeredImage {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

td > button {
    width: 100%;
}

appIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
}

appIcon-true {
    background-image: url("../Content//Images/appIconTrue.jpg");
}

appIcon-false {
    background-image: url("../Content//Images/appIconFalse.jpg");
}

.modalElement {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.infoDialog {
    position: fixed;
    z-index: 9999;
    display: block;
    width: 400px;
    top: 10%;
    left: 50%;
    margin-left: -200px;
}

.customDialog.infoDialog {
    width: 500px;
    margin-left: -250px;
}

.btn-logout {
    background-color: hsl(0, 100%, 48%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F4AC00", endColorstr="#F4AC00");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#F4AC00), to(#F4AC00));
    background-image: -moz-linear-gradient(top, #F4AC00, #F4AC00);
    background-image: -ms-linear-gradient(top, #F4AC00, #F4AC00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4AC00), color-stop(100%, #F4AC00));
    background-image: -webkit-linear-gradient(top, #F4AC00, #F4AC00);
    background-image: -o-linear-gradient(top, #F4AC00, #F4AC00);
    background-image: linear-gradient(#F4AC00, #F4AC00);
    border-color: #F4AC00 #F4AC00 hsl(0, 100%, 48%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;
     padding: 10px;    
}
